@inherits LayoutComponentBase

<div class="w-full h-screen overflow-hidden bg-gray-50">
    <main class="w-full h-screen overflow-hidden">
        <article class="w-full h-full overflow-y-auto overflow-x-hidden">
            @Body
        </article>
    </main>
</div>
